{
  "presets": [
    [
      "env",
      {
        "module": false,
        "targets": {
          "browsers": ["iOS > 7"]
        }
      }
    ]
  ],
  "plugins": [
    ["transform-object-rest-spread"],
    ["transform-async-generator-functions"],
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": false
      }
    ]
  ]
}
