{
  "presets": [
    [
      "env",
      {
        "module": false,
        "targets": {
          "browsers": ["iOS > 7"]
        }
      }
    ]
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": false
    }]
  ]
}